h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: red underline wavy;
}

p {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-size: 30px;
}